.gmo *
{   box-sizing:border-box;
}
.gmo [class^="icon_"], .gmo [class*=" icon_"], .icon_circle {
    font-family: 'zoleo-icons';
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.gmo p, .gmo ul, .gmo ol, .gmo form
{   margin-bottom:32px;
}
.gmo ul, .gmo ol
{   padding:0; margin:0;
}
.gmo p a{
    text-decoration: underline;
}
.gmo .text_center
{   text-align:center;
}
.gmo .p_top_40
{   padding-top:40px;
}
.gmo_hero_banner
{   background-repeat:no-repeat; background-size:cover; background-position:center; padding:60px 0px;
}
.cell_covrage h2{
    margin-bottom: 0;
}
.gmo .gmo_bg .gmo_content
{   text-align:center; color:#fff; width:48%; margin:0 auto;
}
.gmo .gmo_bg .gmo_content .h1
{   margin:0;
}
.gmo .gmo_bg .gmo_content .lead,
.gmo .gmo_bg .gmo_content .lead p,
.gmo_cms_section.section_3 p
{   font-size:20px; line-height:28px; color:#fff;
}
.gmo .margin_center
{   margin:auto !important;
}
.dis_flex
{   display:flex;
}
.flex_wrap
{   display:flex; flex-wrap:wrap; margin:0 auto;
}
.gmo .p_left_10
{   padding-left:10px;
}
.gmo .p_left_20
{   padding-left:20px;
}
.gmo .p_left_50
{   padding-left:50px;
}
.gmo .p_left_100
{   padding-left:100px;
}
.gmo .p_left_200
{   padding-left:200px;
}
.gmo .p_right_60
{   padding-right:60px;
}
.gmo .p_right_100
{   padding-right:100px;
}
.gmo .p_right_160
{   padding-right:160px;
}
.gmo .p_right_180
{   padding-right:180px;   
}
.gmo .noPaddingLeft
{   padding-left:0 !important;
}
.icon_list
{   list-style:none; margin:0 auto;
}
.icon_list .li_vertical_centre
{   display:flex; flex-direction:row; align-items:center;
}
.icon_list li
{   position:relative; margin:0 0 10px; padding:0px 0px 0px 35px; height:80px;
}
.icon_list li i
{   position:absolute; left:-50px; top:1px;
}
.level_top
{   text-decoration:none;
}
.level_top h4
{   font-size:24px; font-weight:400; line-height:26px; color:#1c2e33; margin-bottom:0;
}
.i_size_2
{   font-size:32px;   
}
.icon_chevron_down:before
{   content:"\e972";
}
.gmo_cms_section, .clear_div
{   clear:both; width:100%;
}
.gmo_cms_section p
{   font-size:16px; line-height:24px;
}
.gmo_cms_section .bg_image
{   background-repeat:no-repeat; background-size:cover; background-position:center;
}
.container
{   clear:left;
}
.gmo .noMarginTop
{   margin-top:0;
}
.gmo .noMarginBottom
{   margin-bottom:0;
}
.gmo .noMarginRight
{   margin-right:0 !important;
}
.icon-bubble-question:before
{   content:"\e7da";
}
.icon_list_bullet_desktop::before
{   content:"\e99f"; font-size:8px; display:inline-block; width:auto; margin-left:28px; margin-top:0; position:relative; top:-2px;
}
.sk_columns, .sk_column
{   width:100%; 
}
.image_overlap
{   margin-top:-40px; margin-bottom:-40px; z-index:-1;
}
.section_3 .bg_image
{   background-repeat:no-repeat; background-size:cover; background-position:center;
}
.text_light, .text_light h2, .text_light p
{   color:#fff;
}
.text_green
{   color:#66c729;
}
.section_4
{   background-color:#F1F4FA;
}
.section_5 .bg_image
{   background-repeat:no-repeat; background-size:cover; background-position:center;   
}
.section_5 .btn_red{
    margin-left: 5px;
}
.gmo_cms_section .msrp_price
{   font-size:40px; font-weight:900; margin-top:8px;
}
.gmo_cms_section .msrp_price .currency{
    font-size: 20px;
    position: relative;
    top: -5px;
    left: 5px;
    font-weight: normal;
}
.section_6
{   padding-top:106px;
}
.section_6 .seven.sk_columns
{   margin-left:-20px;
}
.section_6 .seven.sk_columns quote span 
{   font-family:Gill sans; font-size:1.5em;
}
.section_6 .gmo_slide_cont
{   width:100%; float:left;
}
.gmo .o_hidden
{   overflow:hidden;
}
.gmo .p_top_20
{   padding-top:8px;
}
.gmo .p_top_40
{   padding-top:40px;
}
.gmo .p_top_80 
{   padding-top:80px;   
}
.gmo .p_bottom_20
{   padding-bottom:20px;
}
.gmo .p_bottom_40
{   padding-bottom:40px;
}
.gmo .p_bottom_60
{   padding-bottom:60px;   
}
.gmo .p_bottom_80 
{   padding-bottom:80px;   
}
.gmo .p_bottom_300
{   padding-bottom:300px;
}
.gmo .m_bottom_60
{   margin-bottom:60px;
}
.gmo .m_left_0
{   margin-left:0px;
}
.gmo_cms_section .lead, .gmo_cms_section .lead p
{   font-size:20px; line-height:28px;
}
.gmo_cms_section p a
{   color:#3ABBB7;
}
.float_none
{   float:none;
}
@media only screen and (min-width:836px)
{   .sk_columns, .sk_column
    {   margin-left:4%; 
    }
    .sk_columns:first-child, .sk_column:first-child
    {   margin-left:0;
    }
    .offset_by_one.sk_columns, .offset_by_one.sk_column
    {   margin-left:8.66666666667%;
    }
    .three.sk_columns
    {   width:22%;
    }
    .eight.sk_columns
    {   width:65.3333333333%; margin:0 auto
    }
    .one_half.sk_column
    {   width:48%;
    }
    .offset_by_two.sk_column
    {   margin-left:17.3333333333%;
    }
    .one_third.sk_column
    {   width:30.6666666667%;
    }
    .seven.sk_columns
    {   width:56.6666666667%;   
    }
    .is_gapless
    {   margin:0;
    }
    .is_gapless .one_half.sk_column
    {   width:50%; margin:0;
    }
    .flex_wrap.flex_center
    {   align-items:center; justify-content:center;
    }
}
@media only screen and (max-width:1200px) and (min-width: 992px){
    .gmo .no_pad_lt_rt
    {   padding-left:20px; padding-right:20px;
    }
    .gmo .top_bottom_50
    {   padding-top:50px; padding-bottom:50px;
    }
    .gmo .section_5 .is_gapless .one_half{
        padding-bottom: 250px;
        text-align: left;
    }
    .gmo .section_5 .is_gapless .one_half:last-child{
        padding-left: 40px;
    }
    .gmo .text_center_
    {   text-align:center;
    }
    .section_5 p.p_right_60, .section_5 .p_right_160
    {   padding-right:20px;
    }
    /*.section_5 .green_btn
    {   margin-bottom:230px;
    }*/
}
@media only screen and (max-width:991px)
{   .gmo_hero_banner
    {   padding:20px 0;
    }
    .gmo .gmo_bg .gmo_content
    {   width:100%;
    }
    .gmo .gmo_bg .gmo_content .h1
    {   margin:32px 0;
    }
    .icon_list .lead
    {   font-size:18px; line-height:22px;
    }
    .gmo .text_center_
    {   text-align:center;
    }
    .gmo .no_pad_lt_rt
    {   padding-left:0; padding-right:0;
    }
    .gmo .top_bottom_50
    {   padding-top:50px; padding-bottom:50px;
    }
    .section_5 p.p_right_60, .section_5 .p_right_160
    {   padding-right:0;
    }
    /*.section_5 .green_btn
    {   margin-bottom:230px;
    }*/
    .section_6 .gmo_slide_cont > div
    {   text-align:center; justify-content:center;   
    }
    .section_6 .gmo_slide_cont .three img
    {   max-height:250px;
        display: inline-block;
    }
    .section_6 .gmo_slide_cont .seven
    {   margin-top:-50px;
    }
}
@media (min-width: 836px) and (max-width: 991px){
    .gmo .section_5 .is_gapless .one_half{
        padding-bottom: 300px;
        padding-right: 20px;
    }
    .gmo .section_5 .is_gapless .one_half:last-child{
        padding-left: 20px;
    }
}
@media only screen and (max-width:835px)
{   .icon_list .lead
    {   font-size:18px; line-height:22px;
    }
    .bg_image > .container:last-child 
    {   padding-top:0;
    }
    .gmo .gmo_bg .gmo_content .h1, .bg_image h2
    {   font-weight:500;
    }
    .section_3 .bg_image
    {   padding:30px 0;
    }
    .section_4 .p_bottom_60
    {   padding-bottom:30px;
    }
    .section_5 .no_pad_lt_rt .p_left_20
    {   padding-left:20px; padding-right:20px;
    }
    .section_6
    {   padding-top:50px;
        padding-bottom: 50px;
    }
    .gmo_cms_section h2, .gmo_cms_section h3
    {   font-weight:500;
    }
    .dis_flex
    {   flex-wrap:wrap;
    }
    .gmo_hero_banner
    {   background-image:url(https://images.prismic.io/zoleoinc/63c57186-2d17-4287-a0dc-be2e445b5897_Overview_zoleo_m.jpg?auto=compress,format) !important;
    } 
    .gmo_hero_banner .gmo_content{
        text-shadow: 0px 1.2px 5px #333;
    }
    .section_3 .bg_image{
        background-image: url(https://images.prismic.io/zoleoinc/4714b4d1-7b13-4b95-a991-dc58cb5eef59_car-in-desert-background-with-wave-bottom-m.jpg?auto=compress,format) !important;
    }
    /*.section_5 p.p_right_60, */.section_5 .p_right_160
    {   padding-right:20px;
        padding-left: 20px;
    }
    .section_6 .seven.sk_columns
    {   margin-left:0px;
    }
    .gmo .section_5 .is_gapless .one_half .msrp{
        padding-top: 170px;
    }
    .gmo .section_5 .is_gapless .one_half:last-child{
        padding-bottom: 325px;
    }
}