.is_loading{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(255 255 255 / 80%);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile{
    display: flex;
    padding: 40px 0 60px 0;
    position: relative;
    flex-direction: column;
    text-align: center;
}

