.top_banner{
	position: relative;
}
.where_to_buy_img{
	position: absolute;
    top: 0;
    z-index: -1;
    width: 100vw;
    height: 100%;
    max-width: 100%;
}
.legal{
	font: italic 15px/28px "AvenirNextLTPro-Medium", "Gill Sans", "Gill Sans MT", Arial, sans-serif;
	top: -10px;
    position: relative;
}
.where_to_buy_img img{
	height: 100%;
	width: 100%;
    object-fit: cover;
}
.where_to_buy_content{
	/*max-width: 80vw;*/
    margin: 0 auto;
    position: relative;
    z-index: 1;
    text-align: center;
    width: 100%;
    padding: 60px 0;
    color: #fff;
}
.top_banner h2,
.top_banner h3,
.top_banner h4,
.top_banner h5,
.top_banner h6,
.top_banner p,
.top_banner a{
	color: #fff;
}
.top_banner a{
	color: #fff;
	text-decoration: underline;
}
.blue_btn{
	color: #fff;
    background-color: #288380;
    border: 1px solid #288380;
}
.blue_btn:hover{
	color: #288380;
	background-color: #fff;
}
.store_sec .title{
	text-align: center;
	margin-top: 50px;
}
.store_row{
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	padding-bottom: 50px;
	justify-content: center;
}
.store_row .store_item img{
	width: 120px;
	height: 120px;
	object-fit: contain;
	margin-bottom: 10px;
}


.storemapper{
	margin: 60px 0;
    position: relative;
    z-index: 0;
	min-height: 600px;
}

@media (min-width: 481px){
	.store_row .store_item{
		width: 33.33%;
	}
}
@media (min-width: 768px){
	.store_row .store_item{
		width: 25%;
	}
}
@media (min-width: 992px){
	.store_row .store_item{
		width: 20%;
	}
}
@media (min-width: 1281px){
	.store_row .store_item{
		width: 12.5%;
	}
}
@media (max-width: 599px){
	.top_banner h1{
		font-size: 28px;
		line-height: 36px;
	}
	.top_banner h2{
		font-size: 22px;
		line-height: 28px;
	}
	.top_banner h3{
		font-size: 24px;
		line-height: 28px;
		margin-top: 0;
	}
}
@media (max-width: 480px){
	.store_row .store_item{
		width: 100%;
	}
	.store_row .store_item:not(:last-child){
		margin-bottom: 30px;
	}
	.store_row .store_item img{
		width: auto;
		height: auto;
		max-width: 130px;
		margin-bottom: 10px;
	}
	.store_row .store_item a:first-child{
		display: block;
	}
}