.dropdown_menu{
  position: relative;
  cursor: pointer;
}
.dropdown_menu_ul{
  padding: 0;
  list-style: none;
  position: absolute;
  display: block !important;
  width: 200px;
  background-color: #fff;
  right: 0;
  border-radius: 5px;
  margin: 10px 0 0 0 !important;
  box-shadow: 0 10px 10px rgb(0 0 0 / 20%);
}
.dropdown_menu_ul::before{
  position: absolute;
    content: "";
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid transparent;
    border-bottom: 8px solid #f1513e;
    right: 12px;
    top: -16px;
}

.dropdown_menu_ul li a{
  text-decoration: none;
  color: #000;
  cursor: pointer;
  padding: 10px;
  display: block;
}
.dropdown_menu_ul li a:hover, .active{
  color: #F1513E !important;
}